#login_box { width: 480px; margin: 0 auto; }
#login_title {  margin: 50px 0 0 0;  padding-left: 205px;  padding-bottom: 10px; border-bottom: solid 2px #02021c; }
#login_title span {   font-size: 25px; font-weight: bold; }
#login_form { padding-left: 10px;  margin-top: 20px; }
#login_form li { margin-top: 10px; }
#login_form input { font-size: 15px; text-indent: 15px; width: 97%; height: 50px; }
#login_form #login_btn { margin-top: 10px; margin-bottom: 50px; }