/* 메인 콘텐트 */
#main_content { position: relative; width: 1000px; height: 50%; left: 10%;}
#latest1 { position: absolute; top: 20%; width: 100%;height: 50%; }
h4 {margin-bottom: 10px; margin-top: 30px;text-align:left;font-family: sans-serif;  width: 100%; font-size: 16px; }
h6 {margin-bottom: 10px; margin-top: 30px;text-align:right;font-family: sans-serif;  width: 50%; font-size: 12px;}

#latest1 h3{text-align:left;font-family: sans-serif; width: 100%; font-size: 18px;  }
#latest1 h5{text-align:right;font-family: sans-serif; width: 55%;font-size: 12px; }
#latest {text-align:right;font-family: sans-serif; width: 55%;font-size: 14px; }
/*text-align:right;font-family: sans-serif; width: 55%;font-size: 12px;*/
#latest ul { margin-top: 40px; }
#latest li { margin-top: 8px; border-bottom: 1px solid #d3d3d3; width: 95%; }
#latest span { display: inline-block; }
#latest span:nth-child(1) { text-align:left;width: 20px; }
#latest span:nth-child(2) { text-align:left;width: 280px; }
#latest span:nth-child(3) { width: 30px; }
#latest span:nth-child(4) { width: 50px; }
#point_rank1  { position: absolute; top: 20%; width: 100%;height: 50%; left:601px;}

#point_rank1 h3{text-align:left;font-family: sans-serif; width: 100%; font-size: 16px;right:600px;  }
#point_rank1 h5{text-align:right;font-family: sans-serif; width: 55%;font-size: 12px;left:601px;}
#point_rank{text-align:right;font-family: sans-serif; width: 55%;font-size: 14px;left:601px;}

#point_rank h4 { text-align:left; width: 80%; font-size: 16px; margin-top: 30px;padding-bottom: 5px; }
#point_rank ul { margin-top: 40px; }
#point_rank li { margin-top: 8px;  border-bottom: 1px solid #d3d3d3;width: 95%; }
#point_rank span { display: inline-block; }
#point_rank span:nth-child(1) { text-align:left;width: 20px; }
#point_rank span:nth-child(2) { text-align:left;width: 280px; }
#point_rank span:nth-child(3) { width: 50px; }
#point_rank span:nth-child(4) { width: 50px; }
#point_rank span:nth-child(5) { width: 60px; }
.slider .indicators .indicator-item {
  background-color: #666666;
  border: 1x solid #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.slider .indicators .indicator-item.active {
  background-color: #ffffff;
}
.slider {
  width: 900px;
  margin: 0 auto;
}
.slider .indicators {
  bottom: 60px;
  z-index: 100;
  /* text-align: left; */
}


/*search_db 테이블 -체크박스*/
@font-face{font-family:Roboto-Regular;src:url(../fonts/roboto/Roboto-Regular.ttf)}@font-face{font-family:Roboto-Medium;src:url(../fonts/roboto/Roboto-Medium.ttf)}@font-face{font-family:Roboto-Bold;src:url(../fonts/roboto/Roboto-Bold.ttf)}*{margin:0;padding:0;box-sizing:border-box}body,html{height:100%;font-family:sans-serif}a{margin:0;transition:all .4s;-webkit-transition:all .4s;-o-transition:all .4s;-moz-transition:all .4s}a:focus{outline:none!important}a:hover{text-decoration:none}h1,h2,h3,h4,h5,h6{margin:0}p{margin:0}ul,li{margin:0;list-style-type:none}input{display:block;outline:none;border:none!important}textarea{display:block;outline:none}textarea:focus,input:focus{border-color:transparent!important}button{outline:none!important;border:none;background:0 0}button:hover{cursor:pointer}iframe{border:none!important}.js-pscroll{position:relative;overflow:hidden}
.table100 .ps__rail-x{z-index:1010;height:6px;background-color:transparent;opacity:1!important;bottom:10px}
.table100 .ps__rail-x::before{content:"";display:block;position:absolute;background-color:#e6e6e6;height:100%;width:calc(100% - 30px);left:15px;top:0}.table100 .ps__rail-x .ps__thumb-x{height:100%;bottom:0;background-color:transparent;opacity:1!important}.table100 .ps__rail-x .ps__thumb-x::before{content:"";display:block;position:absolute;background-color:#b3b3b3;height:100%;width:calc(100% - 30px);top:0;left:15px}.limiter{width:100%;margin:0 auto;background:#fa71cd;background:-webkit-linear-gradient(bottom,#c471f5,#fa71cd);background:-o-linear-gradient(bottom,#c471f5,#fa71cd);background:-moz-linear-gradient(bottom,#c471f5,#fa71cd);background:linear-gradient(bottom,#c471f5,#fa71cd)}.container-table100{max-width:1366px;margin:0 auto;min-height:100vh;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;flex-wrap:wrap;align-items:center;justify-content:center;padding:33px 100px}.wrap-table100{width:100%}.table100{background-color:#fff}
table{width:80%}th,td{font-weight:unset;padding-right:10px}
.column1{width:50px;padding-left:40px}
.column2{width:200px;padding-left:55px}
.column3{text-align: left; width:250px}.column4{width:100px}
.column5{width:235px}.column6{width:170px}
.column7{width:330px}.column8{width:305px}
.table100 th{padding-top:21px;padding-bottom:21px}
.table100 td{padding-top:16px;padding-bottom:16px}
.table100{width:80%;position:relative}.table100-firstcol{background-color:#fff;position:absolute;z-index:1000;width:310px;top:0;left:0}.table100-firstcol table{background-color:#fff}.wrap-table100-nextcols{width:100%;overflow:auto;padding-left:310px;padding-bottom:28px}.table100-nextcols table{table-layout:fixed}.shadow-table100-firstcol{box-shadow:8px 0 10px 0 rgba(0,0,0,.05);-moz-box-shadow:8px 0 10px 0 rgba(0,0,0,.05);-webkit-box-shadow:8px 0 10px 0 rgba(0,0,0,.05);-o-box-shadow:8px 0 10px 0 rgba(0,0,0,.05);-ms-box-shadow:8px 0 10px 0 rgba(0,0,0,.05)}.table100-firstcol table{background-color:transparent}.table100.ver1 th{font-family:Roboto-Bold;font-size:14px;color:#333;line-height:1.4;text-transform:uppercase}.table100.ver1 td{font-family:Roboto-Medium;font-size:15px;line-height:1.4}.table100.ver1 .table100-firstcol td{color:#666}.table100.ver1 .table100-nextcols td{color:#999}.table100.ver1 tr{border-bottom:1px solid #f2f2f2}